*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #111;
  font-family: "Work Sans", Sans-serif;
  font-weight: 400;
}
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  text-align: center;
}
nav {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  width: 100%;
  background-color: gray;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}
